<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maqola</title>
</head>
<body>
    <center>
        <h1>{{maqola.sarlavha}}</h1>
        <br>
        <hr>
        <br>
        <h1>{{maqola.mavzu}}</h1>
        <br>
        <h3>{{maqola.sana}}</h3>
        <br>
        <br>
        <h2 style="width: 500px">{{maqola.matn}}</h2>
        <footer style="position: relative; bottom: 0px; top: 40px;">
            <h3 style="opacity: .6">{{maqola.sana.year}} year. By {{maqola.muallif.ism}}</h3>
        </footer>
    </center>
</body>
</html>